{% load i18n %}
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {{ title }} {% endblock %} - {% trans 'Доска объявлений' %}</title>
    {% bootstrap_css %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'advertisements/style.css' %}">-->
    {% bootstrap_javascript jquery='slim' %}
</head>
<body class="container-fluid">
    <header class="mb-4">
        <div class="row">
            <ul class="col nav justify-content-end border">
                <li class="nav-item"> <a class="nav-link" href="{% url 'main' %}">{% trans 'Главная' %}</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">{% trans 'О нас' %}</a> </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a> </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"> {% trans 'Добро пожаловать' %}, <a class="nav-link" href="{% url 'author_advertisements' %}">{{ request.user.username }}</a>! </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">{% trans 'Выйти' %}</a> </li>
                {% else %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}">{% trans 'Войти' %}</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'register' %}">{% trans 'Регистрация' %}</a> </li>
                {% endif %}
                <li class="nav-item py-1">
                <form method="post" action="{% url 'set_language' %}">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{language.code}}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
                </li>
            </ul>
        </div>
    </header>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
        <div class="media_body">
        {% for rubric in rubrics %}
            <a class="nav-link" href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
        {% endfor %}
        </div>
        </nav>
        <section class="col border py-2">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>
</html>